body{

}
header {
    background-color: #808080;
}

.info{
    background-color: black;
    text-align: center;
}
h2{
    background-color: #fed758 ;
}
h3{
    background-color: orangered;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}